#container {
	background-color: #5BA3D6;
	display: block;
	width: 100%;
	height: 100vh;
}

.column {
	background-color: #bed1fe;
	display: block;
	width: 100%;
	height: calc(100%/3);
}

.column:nth-child(2) {
	background-color: #5BA3D6;
}

form {
	width: 100%;
	height: 100%;
}

.form-content {
	height: 100%;
	padding: 15px 30px;
}

input, textarea, select, button {
	width: 80%;
	margin: 0;
}

label {
	display: block;
}

@media all and (min-width: 900px){

	#container {
		width: 75%;
		margin: 2% auto;
		min-width: 900px;
		font-size: 0;
	}

	#container > * {
		font-size: initial;
	}

	.column {
		display: inline-block;
		box-sizing: content-box;
		background-color: inherit;
		width: 33%;
		height: 100%;
		vertical-align: top;
		/*padding: 15px 30px;*/
	}

	.form-content > div {

	}




/*	.column:nth-child(2) {
		background-color: inherit;
	}*/

}