#container {
    background-color: #47A3DA;
    display: block;
    width: 100%;
    height: 100%;
}

* {
	font-family: 'Lato', sans-serif;	
	text-transform: uppercase;
	color: #DCEDF8;
	box-sizing: border-box;
}

.column {
    background-color: #47A3DA;
    color: #595f63;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 250px;
}
.column:nth-child(2) {
    background-color: #47A3DA;
}
form {
    width: 100%;
    height: 100%;
}
.form-content {
    height: 100%;
    padding: 15px 30px;
    /*margin: 0 auto;*/
    /*text-align: center;*/
}


/*.form-content label {
	text-align: left;
}
*/input, textarea, select {
    width: 100%;
    margin: 0;
    background: transparent;
}

input, textarea {
	border: 3px solid #FFFFFF;
}
input[type="submit"] {
	padding: 5px 15px;
	background: #1478B1;
	border: 0 none;
	cursor: pointer;
	webkit-border-radius: 5px;
	border-radius: 2px;
}
.button {
	width: 50%;
	text-align: center;
	margin: auto;
}
label {
    display: block;
    cursor: pointer;
}
@media all and (min-width: 900px) {
    #container {
        width: 75%;
        margin: 2% auto;
        min-width: 900px;
        font-size: 0;
        /*height: 100vh;*/
    }
    #container > * {
        font-size: initial;
    }
    .column {
        display: inline-block;
        box-sizing: border-box;
        background-color: #47A3DA;
        width: 33%;
        height: 100%;
        vertical-align: top;
        line-height: 2em;
        /*padding: 15px 30px;*/
    }
    .form-content > div {}
    /*	.column:nth-child(2) {
		background-color: inherit;
	}*/
}
